
:root {
  --bgcolor: #f28482;
  --primarycolor: #84A59D;
  --primaryfont: 'Roboto', sans-serif;
}

body {
  background: var(--primarycolor);
  font-family: var(--primaryfont);
  color: gray;
}

div {
  display: block;
}


.App {
  font-family: sans-serif;
  margin: 0 auto;
}

.App .app-content {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  margin: 60px auto 25px auto;
  max-width: 800px;
  padding: 40px 40px 60px;
}

.container {
  padding: 20px;
}

