
:root {
  --bgcolor: #d87f81;
  --primarycolor: #84A59D;
  --primaryfont: 'Roboto', sans-serif;
}

h1 {
  color: grey;
  text-align: start;
  margin-bottom: 25px;
  font-family: var(--primaryfont);
}