
:root {
    --bgcolor: #f28482;
    --primarycolor: #84A59D;
    --primaryfont: 'Roboto', sans-serif;
  }
  
  .signature {
    text-decoration: none;
    text-align: start;
    color: #ffffff;
    font-family: var(--primaryfont);
    position: absolute;
    font-size: 14px;
  }

  .signature-link {
    text-decoration: none;
    color: #ffffff;
    font-weight: 900;
  }

  .signature-link:hover {
    color: var(--bgcolor);
  }