
  
  .signature {
    text-decoration: none;
    color: #ffffff;
    font-family: var(--primaryfont);
    position: absolute;
    font-size: 14px;
    margin-left: 5px;
  }

  .signature-link {
    text-decoration: none;
    color: #ffffff;
    font-weight: 900;
  }

  .signature-link:hover {
    color: var(--bgcolor);
  }