.click {
  color: gray;
}

.unit-link {
    font-size: 64px;
}
  
  .Weather canvas {
    margin-right: 10px;
  }
  
  .WeatherTemp .unit {
    font-size: 16px;
    font-weight: 400;
    position: relative;
    line-height: 1;
    top: -34px;
  }

 .click:hover {
    color: var(--bgcolor);
 }