
.btn-primary {
    background-color: var(--bgcolor);
    border: none;
    width: 100%;
    font-family: var(--primaryfont);
}

.btn-primary:hover {
    background-color: var(--primarycolor);
}

.form-control {
    width: 100%;
}